// Font
$mainFont                : 'Fira Code', sans-serif;
$h1FontSize              : 62px;
$h2FontSize              : 42px;
$h3FontSize              : 32px;
$h4FontSize              : 24px;
$bodyFontSize            : 18px;
$subTitleFontSize        : 16px;
$buttonFontSize          : 14px;

// Size
$mainFontColor           : #607B96;
$mainFontSize            : 18px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.3;

$lgDesktopWidth          : 1440px;
$desktopWidth            : 1199px;
$tableWidth              : 767px;
$smTableWidth            : 640px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

// helpers
$g-0    : #ffffff;
$g-999  : #000000;


// Main color
$default-color           : #02050D;
$primary-color           : #4D5BCE;
$success-color           : #43D9AD;
$danger-color            : #E99287;
$warning-color           : #FEA55F;
$light-color             : #E5E9F0;
$black-color             : #06253F;
$grey-color              : #607B96;
