.project {
  display: block;

  .project__header-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 14px;
    .project__name {
      color: $projectNameColor;
      font-size: $subTitleFontSize;
      line-height: $mainLineHeight;
      font-weight: 700;
      margin-right: 10px;
    }

    .project__type {
      font-size: $buttonFontSize;
      line-height: $mainLineHeight;
      font-weight: 400;
    }
  }

  .project__block {
    background: #011221;
    border: 1px solid $borderAboutSectionColor;
    border-radius: 15px;
  }

  .project__image-wrapper {
    height: 145px;
    border-bottom: 1px solid $borderAboutSectionColor;
    position: relative;
    .project__image {
      height: inherit;
      width: 100%;
      object-fit: cover;
      object-position: left;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
    }

    .project__tech-list {
      position: absolute;
      content: '';
      top: 20px;
      right: 20px;
      .project__tech-item {
        display: flex;
        align-items: center;
        .project__tech-image-wrapper {
          margin-right: 10px;
          border-radius: 2px;
          width: 24px;
          height: 24px;
          text-align: center;

          .project__tech-image {
            width: 18px;
            height: 18px;
          }
          &:last-child {
            margin-right: 0;
          }
        }

        // цвета бекграундов иконок

        .vue {
          background-color: #4FC08D;
        }

        .nuxt {
          background-color: #00DC82;
        }

        .js {
          background-color: yellow;
        }
      }
    }
  }

  .project__description-wrapper {
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 180px;
    border-top: 1px solid $borderAboutSectionColor;

    .project__button-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .project__button {
        background-color: $projectButtonBackground;
        color: $g-0;
        &:hover {
          background-color: $projectButtonHover;
        }
        &:active {
          background-color: $projectButtonActive;
        }
      }
    }
  }
}

@media screen and (max-width: $desktopWidth) {
  .project {
    .project__header-wrapper {
      padding-bottom: 12px;
      .project__name {
        width: 100%;
      }
    }
    .project__description-wrapper {
      font-size: $subTitleFontSize;
      padding: 16px;
    }
  }
}
