.socials {
  .socials__list {
    .socials__item {
      display: flex;
      padding-bottom: 24px;
      .socials__svg-icon {
        padding-right: 18px;
      }
      .socials__link {
        color: $primary-color;
      }
      .socials__link--github {
        color: $warning-color;
      }
      &:last-child {
        padding-bottom: 0;
      }
    }
  }
}

@media screen and (max-width: $desktopWidth) {
  .socials {
    .socials__list {
      .socials__item {
        display: flex;
        padding-bottom: 15px;
        .socials__svg-icon {
          padding-right: 12px;
        }
        .socials__link {
          font-size: $subTitleFontSize;
        }
      }
    }
  }
}

@media screen and (max-width: $smPhoneWidth) {
  .socials {
    .socials__list {
      .socials__item {
        .socials__link {
          font-size: $buttonFontSize;
        }
      }
    }
  }
}
