.about {
  padding-bottom: 100px;
  .about__container {
    min-height: 730px;
    background-color: $aboutSectionColor;
    border: 1px solid $borderAboutSectionColor;
    border-radius: 8px;
    display: flex;
    .about__categories-wrapper {
      max-width: 222px;
      width: 222px;
      border-right: 1px solid $borderAboutSectionColor;
      .about__categories-header-wrapper {
        display: flex;
        border-bottom: 1px solid $borderAboutSectionColor;
        max-height: 64px;
        .about__categories-icon {
          padding-left: 20px;
        }
        .about__categories-header {
          text-align: start;
          color: $g-0;
          padding: 20px 5px 20px 10px;
          display: block;
        }
      }

      .about__categories-list {
        margin-top: 20px;
        .about__categories-item {
          font-size: $subTitleFontSize;
          line-height: $mainLineHeight;
          margin-bottom: 15px;
          padding: 2px 0 2px 20px;
          cursor: pointer;

          display: flex;
          align-items: center;

          .about__categories-item-icon--folder {
            padding: 0 11px 0 16px;
          }

        }
        .about__categories-item-active {
          background: $black-color;
          color: $g-0;
        }
      }
    }

    .about__text-wrapper {
      flex: 1 1 0;
      .about__text-header {
        height: 64px;
        border-bottom: 1px solid $borderAboutSectionColor;
      }

      .about__text-container {
        padding: 20px;
        display: flex;
        .about__numbers-list {
          margin-right: 32px;
          line-height: 1.4;
          width: fit-content;
          .about__numbers-item {
            color: $grey-color;
          }
        }

        .about__main-text-container {
          flex: 1 1 0;
          .about__main-text-header {
            color: $danger-color;
            line-height: $mainLineHeight;
            padding-bottom: 26px;
          }

          .about__main-text-header--job {
            color: $primary-color;
          }

          .about__main-text--job {
            color: $danger-color;
          }

          .about__main-text-header--education {
            color: $success-color;
          }

          .about__main-text {
            line-height: 1.5;
            padding-bottom: 26px;
            color: $grey-color;
          }
        }

        .about__skills-list {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          width: 100%;
          .about__skills-item {
            flex: 42%;
            margin: 0 49px 20px 0;
            .about__skills-name-block {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              margin-bottom: 8px;

              .about__skills-image {
                margin-right: 8px;
              }

              .about__skills-name {
                font-size: $subTitleFontSize;
                line-height: $mainLineHeight;
                color: $grey-color;
              }
            }

            .about__progress {
              height: 8px;
              background-color: $black-color;
              justify-content: flex-start;
              border-radius: 8px;
              align-items: center;
              position: relative;
              display: flex;
              .progress-value {
                border-radius: 8px;
                background-color: $primary-color;
                width: 0;
                height: 8px;
              }

              // Анимация скиллов

              .vue {
                animation: loadVue 2.5s normal forwards;
              }

              @keyframes loadVue {
                0% { width: 0; }
                100% { width: 80%; }
              }

              .nuxt {
                animation: loadNuxt 2.5s normal forwards;
              }

              @keyframes loadNuxt {
                0% { width: 0; }
                100% { width: 80%; }
              }

              .vuex {
                animation: loadVuex 2.5s normal forwards;
              }

              @keyframes loadVuex {
                0% { width: 0; }
                100% { width: 80%; }
              }

              .vuetify {
                animation: loadVuetify 2.5s normal forwards;
              }

              @keyframes loadVuetify {
                0% { width: 0; }
                100% { width: 60%; }
              }

              .js {
                animation: loadJS 2.5s normal forwards;
              }

              @keyframes loadJS {
                0% { width: 0; }
                100% { width: 75%; }
              }

              .ts {
                animation: loadTS 2.5s normal forwards;
              }

              @keyframes loadTS {
                0% { width: 0; }
                100% { width: 45%; }
              }

              .scss {
                animation: loadScss 2.5s normal forwards;
              }

              @keyframes loadScss {
                0% { width: 0; }
                100% { width: 90%; }
              }

              .webpack {
                animation: loadWebpack 2.5s normal forwards;
              }

              @keyframes loadWebpack {
                0% { width: 0; }
                100% { width: 75%; }
              }

              .html {
                animation: loadHtml 2.5s normal forwards;
              }

              @keyframes loadHtml {
                0% { width: 0; }
                100% { width: 95%; }
              }

              .css {
                animation: loadCss 2.5s normal forwards;
              }

              @keyframes loadCss {
                0% { width: 0; }
                100% { width: 95%; }
              }
            }

            &:nth-child(even) {
              margin-right: 0;
            }
          }
        }
      }

      .about__text-container--skills {
        padding: 20px 73px;
      }
    }
  }
}

@media screen and (max-width: $desktopWidth) {
  .about {
    padding-bottom: 64px;
    .about__container {
      min-height: 720px;

      .about__categories-wrapper {
        .about__categories-header-wrapper {
          .about__categories-header {
            font-size: $subTitleFontSize;
          }
        }
      }
      .about__text-wrapper {
        .about__text-container {
          .about__skills-list {
            flex-direction: column;
            flex-wrap: inherit;
            align-items: inherit;
            .about__skills-item {
              margin: 0 0 20px 0;
            }
          }
        }

        .about__text-container--skills {
          padding: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: $tableWidth) {
  .about {
    .about__container {
      height: auto;
      min-height: auto;
      .about__categories-wrapper {
        width: 100%;
        max-width: none;
        border-right: none;

        .about__categories-list {
          margin-top: 20px;
          .about__categories-item {
            .about__categories-item-icon-active {
              transform: rotate(90deg);
            }
          }
        }
      }
    }
  }
}