.contacts {
  padding-bottom: 30px;
  .contacts__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .contacts__info-wrapper {
      max-width: 600px;
      .contacts__header {
        margin-bottom: 30px;
      }

      .contacts__paragraph {
        margin-bottom: 40px;
      }
    }
  }
}