.contacts {
  padding-bottom: 30px;
  .contacts__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .contacts__info-wrapper {
      max-width: 600px;
      .contacts__header {
        margin-bottom: 30px;
      }

      .contacts__paragraph {
        margin-bottom: 40px;
      }
    }
  }
}

@media screen and (max-width: $desktopWidth) {
  .contacts {
    padding-bottom: 10px;
    .contacts__container {
      align-items: flex-end;
      .contacts__info-wrapper {
        width: calc(50% - 16px);
        .contacts__header {
          margin-bottom: 24px;
        }
        .contacts__paragraph {
          margin-bottom: 24px;
          font-size: $subTitleFontSize;
        }
      }
    }
  }
}

@media screen and (max-width: $tableWidth) {
  .contacts {
    .contacts__container {
      flex-wrap: wrap;
      .contacts__info-wrapper {
        max-width: none;
        width: 100%;
        padding-bottom: 32px;
      }
    }
  }
}
