.header {
  padding-bottom: 24px;
  .header__container {
    padding: 0 32px;
    height: 57px;

    display: flex;
    align-items: center;

    border: 1px solid #1E2D3D;

    .header__logo-text {
      display: block;
      padding: 18px 18px 18px 0;
      font-size: $subTitleFontSize;
      line-height: $mainLineHeight;
    }

    .header__nav {
      flex: 1 1 0;
    }
  }
}

.localization {
  padding: 18px 0 18px 32px;
  border-left: 1px solid #1E2D3D;
  display: block;
  .localization__button {
    outline: none;
    background: transparent;
    border: 1px solid transparent;
    font-size: $subTitleFontSize;
    line-height: $mainLineHeight;
    color: $mainFontColor;
    cursor: pointer;
    padding: 1px 6px;
    &:hover {
      color: $light-color;
    }
  }

  .localization__button-active {
    position: relative;
    &:hover {
      color: $mainFontColor;
    }
    &:after {
      content:"";
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 2px;
      background: $mainFontColor;
    }
  }
}

@media screen and (max-width: $desktopWidth) {
  .header {
    .header__container {
      position: relative;
    }

    .localization {
      display: none;
    }
  }
}
