.meeting {
  min-height: 650px;
  padding-bottom: 50px;
  .meeting__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .meeting__info-block {
      display: flex;
      flex-direction: column;
      .meeting__paragraph {
        font-size: $bodyFontSize;
        line-height: $mainLineHeight;
        color: $light-color;
      }
      .meeting__header {
        font-size: $h1FontSize;
        line-height: $mainLineHeight;
        color: $light-color;
      }
      .meeting__profession-name {
        width: 23ch;
        font-size: $h2FontSize;
        line-height: $mainLineHeight;
        color: $primary-color;

        animation: typing 2.5s steps(21), blink .5s step-end infinite alternate;
        white-space: nowrap;
        overflow: hidden;
        border-right: 3px solid;
      }

      @keyframes typing {
        from {
          width: 0;
        }
      }

      @keyframes blink {
        50% {
          border-color: transparent;
        }
      }

      .meeting__comments-list {
        margin: 40px 0;
        .meeting__comments-item {
          font-size: $subTitleFontSize;
          line-height: $mainLineHeight;
        }

        .meeting__comments-item--variable {
          .meeting__comments-item-span-var {
            color: $success-color;
          }

          .meeting__comments-item-span-link {
            color: $warning-color;
          }
        }
      }
    }
    .meeting__image-container {
      position: relative;
      z-index: 2;
      &:after {
        content: '';
        position: absolute;
        top: 40%;
        left: 8%;
        width: 70%;
        height: 20%;
        background: #222C7C;
        opacity: 1;
        filter: blur(100px);
        transform: matrix(0.97, 0.23, -0.23, 0.97, 0, 0);
        z-index: -1;
      }

      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 28%;
        width: 70%;
        height: 20%;
        background: #178464;
        opacity: 1;
        filter: blur(100px);
        transform: matrix(-0.08, -1, 1, -0.08, 0, 0);
        z-index: -1;
      }
    }
  }
}

@media screen and (max-width: $desktopWidth) {
  .meeting {
    min-height: auto;
    padding-bottom: 40px;
    .meeting__container {
      .meeting__info-block {
        .meeting__paragraph {
          font-size: $subTitleFontSize;
        }
        .meeting__header {
          font-size: $h3FontSize;
        }
        .meeting__profession-name {
          font-size: $h4FontSize;
        }

        .meeting__comments-list {
          margin: 32px 0;
        }
      }
    }
  }
}

@media screen and (max-width: $tableWidth) {
  .meeting {
    .meeting__container {
      flex-wrap: wrap;
      .meeting__info-block {
        width: 100%;
        .meeting__paragraph {
          font-size: $bodyFontSize;
        }
        .meeting__header {
          font-size: $h1FontSize;
          line-height: 1;
          margin-bottom: 8px;
        }
        .meeting__profession-name {
          font-size: 20px;
        }
      }

      .meeting__image-container {
        text-align: center;
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: $smPhoneWidth) {
  .meeting {
    .meeting__container {
      .meeting__info-block {
        .meeting__comments-list {
          .meeting__comments-item {
            font-size: $buttonFontSize;
          }
        }
      }
    }
  }
}