.meeting {
  min-height: 650px;
  padding-bottom: 50px;
  .meeting__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .meeting__info-block {
      display: flex;
      flex-direction: column;
      .meeting__paragraph {
        font-size: $bodyFontSize;
        line-height: $mainLineHeight;
        color: $light-color;
      }
      .meeting__header {
        font-size: $h1FontSize;
        line-height: $mainLineHeight;
        color: $light-color;
      }
      .meeting__profession-name {
        width: 23ch;
        font-size: $h2FontSize;
        line-height: $mainLineHeight;
        color: $primary-color;

        animation: typing 2s steps(21), blink .5s step-end infinite alternate;
        white-space: nowrap;
        overflow: hidden;
        border-right: 3px solid;
      }

      @keyframes typing {
        from {
          width: 0;
        }
      }

      @keyframes blink {
        50% {
          border-color: transparent;
        }
      }

      .meeting__comments-list {
        margin: 40px 0;
        .meeting__comments-item {
          font-size: $subTitleFontSize;
          line-height: $mainLineHeight;
        }

        .meeting__comments-item--variable {
          .meeting__comments-item-span-var {
            color: $success-color;
          }

          .meeting__comments-item-span-link {
            color: $warning-color;
          }
        }
      }
    }
    .meeting__image-container {
      position: relative;
      z-index: 2;
      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 8%;
        width: 50%;
        height: 50%;
        background: #222C7C;
        opacity: 0.4;
        filter: blur(174px);
        transform: matrix(0.97, 0.23, -0.23, 0.97, 0, 0);
        z-index: -1;
      }

      &:before {
        content: '';
        position: absolute;
        top: 16%;
        left: 28%;
        width: 60%;
        height: 50%;
        background: #178464;
        opacity: 0.4;
        filter: blur(174px);
        transform: matrix(-0.08, -1, 1, -0.08, 0, 0);
        z-index: -1;
      }
    }
  }
}
